<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-4">Crear cuenta</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nombre y apellido">
                <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
                  ¡Ingresa tu nombre!
                </div>
              </div>
              
              <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Escribe tu correo electrónico o tu número móvil">
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                  ¡Ingresa un correo electrónico válido!
                </div>
              </div>
              
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" class="form-control" formControlName="password" placeholder="Debe tener al menos 6 caracteres">
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
                  ¡Ingresa una contraseña válida!
                </div>
              </div>
              
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Vuelve a escribir la contraseña</label>
                <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Vuelve a escribir tu contraseña">
                <div *ngIf="!passwordMatch() && registerForm.get('confirmPassword')?.touched" class="text-danger">
                  Las contraseñas no coinciden.
                </div>
              </div>
              
              <button type="submit" class="btn btn-warning w-100">Continuar</button>
            </form>
  
            <div class="text-center mt-3">
              <p>¿Ya tienes una cuenta? <a href="/login" (click)="goToLogin()">Iniciar sesión</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  